version: '3.9'
services:
  postgres:
    image: postgres:15
    environment:
     POSTGRES_USER: todouser
     POSTGRES_PASSWORD: todopass
     POSTGRES_DB: todoapp
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes: 
  postgres_data:


